<form action="/artist" method="POST">
  <label for="artist_name">Name:</label>
    <input type="text" name="artist[name]" id="artist_name">
  <label for="artist_age">Age:</label>
    <input type="number" name="artist[age]" id="artist_age">
  <label for="artist_bio">Bio:</label>
    <input type="text" name="artist[bio]" id="artist_bio">
  <input type="submit" value="Create a new artist.">
</form>
